ucp/1.2/ComponentDescriptorTypes.xsd

<xs:schema 
	xmlns:ucp="http://DigitalLeadersInitiative.com/EAMD.ucp/1.2" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://DigitalLeadersInitiative.com/EAMD.ucp/1.2" 
	elementFormDefault="unqualified" 
	attributeFormDefault="unqualified">
	<!--xs:element name="component" type="ucp:ComponentReferenceType" maxOccurs="unbounded" minOccurs="0"/-->
	<xs:complexType name="ComponentReference">
		<xs:annotation>
			<xs:documentation>
				A simple reference to component using its identificators only.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="ucp:ComponentNameType" 						use="required"/>
		<xs:attribute name="version" type="ucp:ComponentVersionAttributeType" 		use="required"/>
		<xs:attribute name="minVersion" type="ucp:ComponentVersionAttributeType"/>
		<xs:attribute name="maxVersion" type="ucp:ComponentVersionAttributeType"/>
	</xs:complexType>
	<xs:complexType name="ScenarioReference">
		<xs:annotation>
			<xs:documentation>
				A simple reference to component using its identificators only.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="ucp:ComponentNameType" 						use="required"/>
		<xs:attribute name="version" type="ucp:ComponentVersionAttributeType" 		use="required"/>
		<xs:attribute name="minVersion" type="ucp:ComponentVersionAttributeType"/>
		<xs:attribute name="maxVersion" type="ucp:ComponentVersionAttributeType"/>
	</xs:complexType>
	<xs:complexType name="ConfigurationItemType">
		<xs:annotation>
			<xs:documentation>Key value pairs</xs:documentation>
		</xs:annotation>
		<xs:attribute name="key" type="xs:string" use="required"/>
		<xs:attribute name="value" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="DependencyType">
		<xs:annotation>
			<xs:documentation>
				Extends ComponentReference with type field.   
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="ucp:ComponentNameType" 						use="required"/>
		<xs:attribute name="version" type="ucp:ComponentVersionAttributeType"/>
		<xs:attribute name="minVersion" type="ucp:ComponentVersionAttributeType"/>
		<xs:attribute name="maxVersion" type="ucp:ComponentVersionAttributeType"/>
	</xs:complexType>
	<xs:complexType name="DisplayImageType">
		<xs:annotation>
			<xs:documentation>
				Linked resource, can also be embedded.<br/>
				The image type must be SVG.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="href" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InterfaceType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="ucp:InterfaceTypeAttributeType" 	use="required"/>
				<xs:attribute name="name" type="xs:string" 							use="required"/>
				<xs:attribute name="unitName" type="xs:string"/>
				<xs:attribute name="version" type="ucp:InterfaceVersionType"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PropertyType">
		<xs:annotation>
			<xs:documentation>
				A key for a property. The values later will be assigned by the scenario descriptor.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="key" type="xs:string" 							use="required"/>
				<xs:attribute name="defaultValue" type="xs:string"/>
				<xs:attribute name="isPassword" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ComponentLifecycleType">
		<xs:annotation>
			<xs:documentation>
				Stereotypes. A long list of all types of Platforms, Application described by an hierarchy.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="phase" type="ucp:ComponentLifecycleAttributeType" default="suggested"/>
	</xs:complexType>
	<xs:complexType name="StereotypeType">
		<xs:annotation>
			<xs:documentation>
				Stereotypes. A long list of all types of Platforms, Application described by an hierarchy.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="ucp:StereotypeNameAttributeType" default="Component"/>
	</xs:complexType>
	<xs:complexType name="UnitType">
		<xs:annotation>
			<xs:documentation>
				A file, url, content, etc. that is not a component (has no self-describing interface).<br/>
				The href attribute, if present, must represent a path relative to containing descriptor's location in repository.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="lifecycle" type="ucp:UnitLifecycleAttributeType"/>
				<xs:attribute name="type" type="ucp:UnitTypeAttributeType" default="unit-type-default"/>
				<xs:attribute name="name" type="xs:string" 							use="required"/>
				<xs:attribute name="href" type="xs:string"/>
				<xs:attribute name="version" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ArctitectureLayerDomainType">
		<xs:annotation>
			<xs:documentation>
				Content intentionally restricted to enumeration for flexibility in using numbers or layer names.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ComponentDisplayNameType">
		<xs:annotation>
			<xs:documentation>
				Human-readable name, not necessarily unique.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ComponentNameType">
		<xs:annotation>
			<xs:documentation>
				Distinguished name for this component. Must be unique within the target scope.<br/>
				Represents the component descriptor location in repository, using dots as step separators.<br/>
				The target repository is Nexus/Maven, where the part before last dot is considered a Maven groupId and the part after last dot - Maven artifactId.<br/>
				Example: com.softwareag.webmethods.wmIntegrationServer<br/>
				, where groupId=com.softwareag.webmethods and artifactId=wmIntegrationServer
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ComponentVersionAttributeType">
		<xs:annotation>
			<xs:documentation>
				Versions must be mutually comparable by &lt;, &lt;=, =, &gt;= and &gt; operators.<br/>
				For EIP-owned components, version string follows the Maven notation: XX.XX.XX<br/>
				For platform and other external components, version follows vendor's notation and may be any format.<br/>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ComponentVersionType">
		<xs:annotation>
			<xs:documentation>
				Versions must be mutually comparable by &lt;, &lt;=, =, &gt;= and &gt; operators.<br/>
				For EIP-owned components, version string follows the Maven notation: XX.XX.XX<br/>
				For platform and other external components, version follows vendor's notation and may be any format.<br/>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="InterfaceTypeAttributeType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Implements"><xs:annotation><xs:documentation>Implements a service component (abstract component on layer 3)</xs:documentation></xs:annotation></xs:enumeration>

			<xs:enumeration value="sh"/>
			<xs:enumeration value="bat"/>

			<xs:enumeration value="WSDL"/>
			<xs:enumeration value="IDL"/>
			<xs:enumeration value="RMI"/>
			<xs:enumeration value="Java"/>
			
			<xs:enumeration value="REST"/>
			<xs:enumeration value="JSON"/>

			<xs:enumeration value="WebDAV"/>
			<xs:enumeration value="CalDAV"/>
			<xs:enumeration value="CardDAV"/>

			<xs:enumeration value="JMS"/>
			<xs:enumeration value="Queue"/>

			<xs:enumeration value="Semantic"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InterfaceVersionType">
		<xs:annotation>
			<xs:documentation>
				Versions must be mutually comparable by &lt;, &lt;=, =, &gt;= and &gt; operators.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="StereotypeNameAttributeType">
		<xs:annotation>
			<xs:documentation>
				Refers to a class in a hierarchy. Limited to the list of all possible class names.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Component"/>
			<xs:enumeration value="Application"/>
			<xs:enumeration value="Application::WODA"/>
			<xs:enumeration value="Application::Installer"/>
			<xs:enumeration value="Application::OSGi"/>
			<xs:enumeration value="Application::JEE-EJB"/>
			<xs:enumeration value="Application::JEE-WEB"/>
			<xs:enumeration value="Application::Process"/>
			<xs:enumeration value="Application::SwingJFrame"/>

			<xs:enumeration value="Form"/>
			<xs:enumeration value="Form::WODA"/>
			<xs:enumeration value="Form::What"/>
			<xs:enumeration value="Form::Overview"/>
			<xs:enumeration value="Form::Detail"/>
			<xs:enumeration value="Action"/>
			
			<xs:enumeration value="Container"/>
			<xs:enumeration value="Container::Package"/>
			<xs:enumeration value="Container::Package::Repository"/>

			<xs:enumeration value="Container::Package::App"/>
			<xs:enumeration value="Container::Package::ProcessLibrary"/>
			<xs:enumeration value="Container::Package::ProcessGroup"/>
			<xs:enumeration value="Container::Package::MainProcess"/>
			<xs:enumeration value="Container::Package::End2EndProcess"/>

			<xs:enumeration value="Container::Package::Domain"/>

			<xs:enumeration value="Container::OSGi"/>
			<xs:enumeration value="Container::JEE-EJB"/>
			<xs:enumeration value="Container::JEE-WEB"/>
			<xs:enumeration value="Container::Process"/>
			<xs:enumeration value="Container::SwingJFrame"/>

			<xs:enumeration value="Platform"/>
			<xs:enumeration value="Platform::OS"/>

	
	 		<xs:enumeration value="Process"/>
	 		<xs:enumeration value="Process:Library"/>
	 		<xs:enumeration value="Process:Group"/>
	 		<xs:enumeration value="Process:Main"/>
	 		<xs:enumeration value="Process:End2End"/>

			<xs:enumeration value="Service"/>
			<xs:enumeration value="Service:Provider"/>
			<xs:enumeration value="Service:Composite"/>
			<xs:enumeration value="Service:Basic"/>
			<xs:enumeration value="Service:Basic:Reader"/>
			<xs:enumeration value="Service:Transformer"/>
			<xs:enumeration value="Service:Basic:Writer"/>

			<xs:enumeration value="Adapter"/>
			<xs:enumeration value="Adapter::Reader"/>
			<xs:enumeration value="Adapter::Transformer"/>
			<xs:enumeration value="Adapter::Writer"/>

			<xs:enumeration value="System"/>
			
			<!-- Vendor Specific -->
			<xs:enumeration value="Application::TIBCO-AMX"/>
			<xs:enumeration value="Application::TIBCO-BusinessWorks"/>
			<xs:enumeration value="Application::TIBCO-MDM"/>
			<xs:enumeration value="Application::SAG-wmTaskEngine"/>
			<xs:enumeration value="Application::SAG-wmMediator"/>
			<xs:enumeration value="Application::SAG-wmProcessRuntime"/>

			<xs:enumeration value="Container::TIBCO-AMX"/>
			<xs:enumeration value="Container::TIBCO-BusinessWorks"/>
			<xs:enumeration value="Container::TIBCO-MDM"/>
			<xs:enumeration value="Container::SAG-wmTaskEngine"/>
			<xs:enumeration value="Container::SAG-wmMediator"/>
			<xs:enumeration value="Container::SAG-wmProcessRuntime"/>

			<xs:enumeration value="Platform::SAG"/>
			<xs:enumeration value="Platform::SAG-wmOptimizeForInfrastructure"/>
			<xs:enumeration value="Platform::EIP"/>
			<xs:enumeration value="Platform::TIBCO-AMX"/>
			<xs:enumeration value="Platform::TIBCO-Classic"/>
			<xs:enumeration value="Platform::TIBCO-ClassicTRA"/>
			<xs:enumeration value="Platform::TIBCO-AMXNode"/>
			<xs:enumeration value="Platform::TIBCO-AMXAdministrator"/>
			<xs:enumeration value="Platform::TIBCO-AMXAdministratorSecondary"/>
			<xs:enumeration value="Platform::TIBCO-ClassicAdministrator"/>
			<xs:enumeration value="Platform::TIBCO-BusinessWorks"/>
			<xs:enumeration value="Platform::TIBCO-EMS"/>
			<xs:enumeration value="Platform::TIBCO-EMSDestination"/>
			<xs:enumeration value="Platform::TIBCO-MDM"/>
			<xs:enumeration value="Platform::SAG-wmIntegrationServer"/>
			<xs:enumeration value="Platform::SAG-wmUniversalMessaging"/>
			<xs:enumeration value="Platform::SAG-BPMMonitoring"/>
			<xs:enumeration value="Platform::SAG-BPMRUN"/>
			<xs:enumeration value="Platform::SAG-wmCommandCentral"/>
			<xs:enumeration value="Platform::SAG-wmMyWebmethods"/>
			<xs:enumeration value="Platform::SAG-Installer"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UnitTypeAttributeType">
		<xs:annotation>
			<xs:documentation>
				xs:string to allow free definition of types at this moment
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="UnitListType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="unit" type="ucp:UnitType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DependencyListType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dependency" type="ucp:ComponentReference" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackageListType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="componentRef" type="ucp:ComponentReference" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InterfaceListType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="interface" type="ucp:InterfaceType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="property" type="ucp:PropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConfigurationItemListType">
		<xs:annotation>
			<xs:documentation>
				List of configuration items.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="configurationItem" type="ucp:ConfigurationItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
		<xs:simpleType name="UnitLifecycleAttributeType">
		<xs:annotation>
			<xs:documentation>
			  The unit which defines the command to execute this lifecycle task for this component
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="documentation"><xs:annotation><xs:documentation>this is about where to find anything about this componet (external link or just a text)</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="documentation:WebSite"><xs:annotation><xs:documentation>link to the official software provider documentation</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="documentation:Download"><xs:annotation><xs:documentation>link to the software download link for the described component</xs:documentation></xs:annotation></xs:enumeration>

			<xs:enumeration value="repository:origin"><xs:annotation><xs:documentation>original location of the sources</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="repository:src"><xs:annotation><xs:documentation>local reporesentation of the sources</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="repository:bin"><xs:annotation><xs:documentation>binary repository location (package)</xs:documentation></xs:annotation></xs:enumeration>


			<xs:enumeration value="build"><xs:annotation><xs:documentation>compile action</xs:documentation></xs:annotation></xs:enumeration>

			<xs:enumeration value="package"><xs:annotation><xs:documentation>create package from compiled artifacts</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="package:archive"><xs:annotation><xs:documentation>car or par - zip file with component or package from compiled artifacts</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="package:manager"><xs:annotation><xs:documentation>describe the package manager used for package deployment</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="release"><xs:annotation><xs:documentation>release of the software component</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="install"><xs:annotation><xs:documentation>used for infrastructure software installation</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="install:configure"><xs:annotation><xs:documentation>infrastructure software deployment configuration</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="deploy"><xs:annotation><xs:documentation>used for application deployment</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="deploy:configure"><xs:annotation><xs:documentation>application deployment configuration</xs:documentation></xs:annotation></xs:enumeration>
			
			<xs:enumeration value="start"><xs:annotation><xs:documentation>start component</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="stop"><xs:annotation><xs:documentation>stop the component's process</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="kill"><xs:annotation><xs:documentation>kill component's process</xs:documentation></xs:annotation></xs:enumeration>

			<xs:enumeration value="ping"><xs:annotation><xs:documentation>smoke test (existence)</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="connection"><xs:annotation><xs:documentation>connectionConfig or URL</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="versionCheck"><xs:annotation><xs:documentation>description how to find out the version of this Component (platform level)</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="test"><xs:annotation><xs:documentation>test component action</xs:documentation></xs:annotation></xs:enumeration>

			<xs:enumeration value="monitoring"><xs:annotation><xs:documentation>monitoring component configuration</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ComponentLifecycleAttributeType">
		<xs:annotation>
			<xs:documentation>
			  Possible Values for the components governance lifecycle phase
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="suggested"/>
			<xs:enumeration value="declined"/>

			<xs:enumeration value="accepted"/>
			
			<xs:enumeration value="ordered"/>

			<xs:enumeration value="release:failed"/>
			<xs:enumeration value="released"/>
			
			<xs:enumeration value="integration"/>
			<xs:enumeration value="integration:failed"/>
			
			<!--
			<xs:annotation><xs:documentation>
				removed to avoid redundances with the scenario namespace
			</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="integration:IU"/>
			<xs:enumeration value="integration:TU"/>
			<xs:enumeration value="integration:AU"/>
  			-->

			<xs:enumeration value="operation"/>

			<xs:enumeration value="deprecated"/>
			<xs:enumeration value="retired"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="ScenarioStereotypeType">
		<xs:annotation>
			<xs:documentation>
				Stereotypes. A list of all types for a Scenario, described by a hierarchy.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="ucp:ScenarioStereotypeNameAttributeType" default="Instance"/>
	</xs:complexType>
	
	<xs:simpleType name="ScenarioStereotypeNameAttributeType">
		<xs:annotation>
			<xs:documentation>
				Refers to a class in a hierarchy. Limited to the list of all possible class names.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Instance"/>
			<xs:enumeration value="Cluster"/>
			<xs:enumeration value="UnitTest"/>
			<xs:enumeration value="ComponentTest"/>
			<xs:enumeration value="IntegrationTest"/>
			<xs:enumeration value="SystemTest"/>
			<xs:enumeration value="AcceptanceTest"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ScenarioLifecycleType">
		<xs:annotation>
			<xs:documentation>
				Stereotypes. A list of all types for a Scenario, described by a hierarchy.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="state" type="ucp:ScenarioLifecycleAttributeType" default="incomplete"/>
	</xs:complexType>

	<xs:simpleType name="ScenarioLifecycleAttributeType">
		<xs:annotation>
			<xs:documentation>
			  Possible Values for the scenario governance lifecycle phase
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="incomplete"/>
			<xs:enumeration value="complete"/>
			<xs:enumeration value="ordered"/>
			<xs:enumeration value="operation"/>
			<xs:enumeration value="retired"/>
		</xs:restriction>
	</xs:simpleType>	
	
	
	<xs:complexType name="ScenarioListType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="scenarioRef" type="ucp:ScenarioReference" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	
</xs:schema>
